<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/dashboard" >
      Search
    </a>
    <a class="navbar-item" routerLink="/editor" >
      Editor
    </a>
    <a class="navbar-item" routerLink="/creator" >
      Creator
    </a>
  </div>
</nav>
<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>